.card {
  border-radius: 30px;
  display: grid;
  background: #3c3e44;
  color: #fff;
  text-align: center;
  padding: 20px;
  animation: pulse 2s infinite;
  max-width: 300px;
  min-height: 550px;
  place-items: center;
}

.card p {
  margin: 10px;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

.card__portraitAlive {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 5px solid rgb(0, 207, 0);
}

.card__portraitDeath {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 5px solid rgb(36, 36, 36);
  filter: grayscale(1);
}

.card__info {
  padding: 0 20px;
}

.info__name {
  text-align: center;
}

/* pulse */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 04);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.container {
  display: flex;
  gap: 2.3em;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
}

.bigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
}
.filterInput {
  width: 300px;
  padding: 10px 30px 10px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: orange;
  color: black;
  font-size: 16px;
  outline: none;
  text-align: center;
}

.randomButton {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  background-color: orange;
  color: black;
  font-size: 16px;
  outline: none;
  margin-top: 20px;
}

.randomButton:hover {
  background-color: rgb(255, 194, 80);
}

.randomButton:focus {
  border: none;
}

/* ============ */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 550px;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
